<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a category</title>
</head>
<body>
    <form action="/add-category" method="POST">
        <label for="categoryName">Category Name</label>
        <input type="text" name="categoryName" id="categoryName">
        <button type="submit">Add</a></button>
    </form>
</body>
</html>