<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="/css/edit-category.css">
</head>
<body>
    <form id="category-edit" action="/<%=category.categoryid%>/edit-category" method="POST">
        <%-include('partials/error.ejs')%>
        <label for="categoryName">Category Name</label>
        <input type="text" name="categoryName" id="categoryName" value="<%=category.categoryname%>">
        <label for="categoryImg">Image Link</label>
        <input type="text" name="categoryImg" id="categoryImg" value="<%=category.img%>">
    </form>
    <div class="buttons">
        <button type="submit" form="category-edit">Save</a></button>
        <a href="/manage-categories"><button>Cancel</button></a>
    </div>
</body>
</html>