<div class="sidebar">
    <div>
        <a href="/all-parts">
            <button>All Parts</button>
        </a>
    </div>
    <div>
        <a href="/manage-categories">
            <button>Manage Categories</button>
        </a>
    </div>
    <div>
        <a href="/manage-parts">
            <button>Manage Parts</button>
        </a>
    </div>
</div>