<div class="sidebar">
    <div>
        <a href="">
            <button>All Parts</button>
        </a>
    </div>
    <div>
        <a href="">
            <button>Manage Categories</button>
        </a>
    </div>
    <div>
        <a href="">
            <button>Manage Parts</button>
        </a>
    </div>
</div>