body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    color: #333; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    border-color: #4CAF50; 
    outline: none;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.5); 
}


textarea {
    resize: vertical;
    height: 100px;
}


button {
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45A049; 
    transform: translateY(-2px);
}

button:active {
    background-color: #3E8E41; 
    transform: translateY(1px);
}


a button {
    background-color: #F44336; 
    margin-left: 10px; 
}

a button:hover {
    background-color: #D32F2F;
}

a button:active {
    background-color: #B71C1C; 
}


button[type="submit"], a button[type="button"] {
    margin: 0 5px;
}

.buttons-form{
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
    height: 35px;
}
.cancel {
    background-color: #F44336; 
    margin-left: 10px;
    height: 100%;
}

.cancel:hover {
    background-color: #D32F2F; 
    transform: translateY(-2px);
}

.cancel:active {
    background-color: #B71C1C; 
    transform: translateY(1px);
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0 0 1em 0;
}

li.error-msg {
    color: #d9534f; 
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px; 
    padding: 10px; 
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-family: Arial, sans-serif; 
    display: flex; 
    align-items: center; 
    gap: 8px; 
}

li.error-msg::before {
    content: "⚠️"; 
    font-size: 1.2rem; 
}